#proteins{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 50px;
}
#carbs{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 50px;
}
#fats{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 50px;
}
button{
    width: 75px;
}
img{
    height: 150px;
    width: 250px;
}